/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');




form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

input {
  outline: none;
  padding: 8px 16px;
  width: 240px;
  max-height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: "Montserrat", sans-serif;
  transition: border 250ms ease-in-out;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}

input:hover,
input:focus {
  border: 1px solid #000;

}

input:active {
  border: 1px solid #4e75ff;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  transition: background-color 250ms ease-in-out;
}

button:hover,
button:focus {
  background-color: #6c8cff;
  outline: none;
}

.span-wrap {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid #FF3D00;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid #FFF;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  visibility: hidden;
}

.gallery {
  max-width: 1128px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  max-height: 200px;
}

.gallery-item img {
  width: 100%;
  max-height: 152px;
  transition: scale 250ms ease-in-out;
}

.gallery-item img:hover {
  scale: 1.05;
}

.image-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4px;
  margin-bottom: 4px;
}

.img-stat-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.img-stat-header {
  line-height: 133%;
  font-weight: 600;
}

.iziToast-message {
  letter-spacing: 0.03em;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
}